



<style>
.layout
{
    height:100px;
    width:100px;
    border: 4px solid black;

}
.card1
{
    background-color: orange;
position: absolute;
margin-top: 50px;
margin-left: 50px;

z-index: 2;

}
.card2
{
    background-color: green;
    position: absolute;
    z-index: 1;

}
</style>

<div class=".card1 layout"></div>
<div class=".card2 layout"></div>